{{#each taps}}
  <div class="tap">
    <div class="hero" style="background-image: url('{{fields.imageLink}}')"></div>
    <div class="details">
      <div class="title-card">
        <span class="tap-number">{{fields.tap}}</span>
        <h2>{{fields.beerName}}</h2>
        <h3>{{fields.breweryName}}</h3>
      </div>
      <h4 class="style">{{fields.style}}</h4>
      <div class="inner-content">
        <h4>{{fields.subtitle}}</h4>
        <p>{{fields.description}}</p>
        <h4>Tasting Notes</h4>
        <p>{{fields.tastingNotes}}</p>
      </div>
    </div>
  </div>
{{/each}}
