{{#each taps}}
  <div class="tap accent{{fields.accentColor}}">
    <div class="hero" style="background-image: url('{{fields.imageLink}}')"></div>
    <div class="details">
      <div class="title-card">
        <span class="tap-number">{{fields.tap}}</span>
        <h2>{{fields.beerName}}</h2>
        <h3>{{fields.breweryName}}</h3>
      </div>
      <h4 class="style">{{fields.style}}</h4>
      <div class="inner-content">
        <div class="description">
          <span class="abv">{{fields.abv}}%</span>
          <h4 class="subtitle">{{fields.subtitle}}</h4>
          <p>{{fields.description}}</p>
        </div>
        <div class="rating cf">
          <h4>Hops:</h4>
          <div class="icons hops on-{{fields.hoppiness}}">
            {{#times 5}} <span></span> {{/times}}
          </div>
        </div>
        <div class="rating cf">
          <h4>Malt:</h4>
          <div class="icons malt on-{{fields.maltiness}}">
            {{#times 5}} <span></span> {{/times}}
          </div>
        </div>
        <div class="notes">
          <h4>Notes:</h4>
          <p>{{fields.tastingNotes}}</p>
        </div>
      </div>
    </div>
  </div>
{{/each}}
