{{#each taps}}
  <div class="tap">
    <div class="hero" style="background-image: url('{{fields.imageLink}}')"></div>
    <div class="details">
      <h2>{{fields.beerName}}</h2>
      <h3>{{fields.breweryName}}</h3>
      <h4>{{fields.style}}</h4>
      <h5>{{fields.subtitle}}</h5>
      <p>{{fields.description}}</p>
    </div>
  </div>
{{/each}}
